<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="author" content="">
<title>Forgot Password</title>
<!-- Stylesheets -->
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/util.css">
<link rel="stylesheet" href="css/bootstrap-glyphicons.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/skin.css">
<!--[if lt IE 9]>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
<!--[if lt IE 10]>
    <script src="js/media.match.min.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
<script src="js/breakpoints.min.js"></script>
<script>
    Breakpoints();
  </script>
   <script src="js/angular.min.js"></script>    
  <script type="text/javascript">
   var myApp = angular.module("myApp", []);
    myApp.controller("maincntrl", function ($scope) {
   });
  </script>
</head>
<body style="background-color: #f5f5f5;" ng-app="myApp">
<div class="mobile-menu">
 <nav class="menu-list-mobile">
      <a href="#">About</a>
      <a href="#">News</a>
      <a href="#">Contact Us</a>
  </nav>
</div>
<div class="mask_menu"></div>
<!-- Header -->
<div class="register-body">
<header class="container-fluid head-design">
	<div class="head-design-sub">
      <div class="row">
        <div class="col-4 col-sm-4">
        	<div class="logo-text"><img src="images/logo-cg.png"></div>
        </div>
        <div class="col-8 col-sm-8">
        	<div class="responsive_icon"></div>
        	<nav class="menu-list">
            	<a href="#">About</a>
                <a href="#">News</a>
                <a href="#">Contact Us</a>
            </nav>
        </div>
      </div>
    </div>
</header>
<section>
<div class="container-fluid" ng-controller="maincntrl">
	<div class="row">
    	<div class="col-12 col-sm-12 form-load">
        	<h1 class="reg-welcome-text1">Forgot Password</h1>
			<div class="dispPassword">Please enter below details to retrieve password</div>
        	<form action="" name="reg_form" id="reg_form"  method="post" class="register-form form-group row">
            	
                <div style="clear:both;"></div>  
                <div class="col-sm-12">
                   <div class="input-group input-login">
				        <label class="col-form-label text-left w-full">User Name or Email Address</label>
                      	<input type="text" class="form-control input-field-blr" name="email" required alt="Username or Email Address" ng-model="user.email"  placeholder="Type here">
                         <span class="msg angErrmsg" ng-show="reg_form.email.$dirty && reg_form.email.$error.required">Please enter valid Username or Email Address.</span>
                    </div>
					
					
              	</div>
                <div class="col-sm-12">
                   <div class="input-group input-login">
				        <label class="col-form-label text-left w-full">Last 4 digit SSN</label>
                      	<input type="text" class="form-control input-field-blr numbersonly" name="digitalssn" ng-model="user.digitalssn" alt="Last 4 digit SSN" placeholder="Type here" 
						ng-minlength="4" ng-maxlength="4" required>
                        <span class="msg angErrmsg" ng-show="reg_form.digitalssn.$dirty && reg_form.digitalssn.$error.required">SSN is required</span>
						<span class="msg angErrmsg" ng-show="reg_form.digitalssn.$dirty && reg_form.digitalssn.$error.minlength">
                          Please enter last 4 digits SSN</span>
					 	<span class="msg angErrmsg" ng-show="reg_form.digitalssn.$dirty && reg_form.digitalssn.$error.maxlength">
                          Please enter only last 4 digits SSN, should not exceed 4 digits</span>
                    </div>
					
				
              	</div>
                <div class="col-sm-12">
                	<input type="submit" value="SUBMIT" class="continue-form">
                </div> 
            </form>
			<div class="col-12 col-xs-6 col-md-6 offset-md-3 m-b-40  appstatus">
                 		<div id="wrap" class="alert alert-success alert-ins">
                    			<img class="left" src="images/info.png">
                    			<p class="inspCls inpsc-text"> Thank you for submitting details.<br> 
						Please click on the link shared on your register mail id.</p>
                  			</div>
            		</div>
			    	</div>
		
	</div>
</div>
</section>
<!-- Footer -->
<footer>
<div class="container-fluid register-footer">
	<div class="row">
    	<div class="col-sm-6">
        	<div class="rights-text-res">BankName 2018. All Rights Reserved.</div>
        </div>
    	<div class="col-sm-6">
            <nav class="footer-menu-list-res">
                <a href="#">FAQs</a>
                <a href="#">Services</a>
                <a href="#">About Us</a>
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
            </nav>
        </div> 
    </div>
</div>
</footer>
</div>
<script src='js/jquery-3.3.1.slim.min.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/custom.js'></script>
</body>
</html>
