<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<meta name="description" content="">
<meta name="author" content="">
<title>Profile</title>
<!-- Stylesheets -->
<link rel="stylesheet" href="css/normalize.css">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/util.css">
<link rel="stylesheet" href="css/bootstrap-glyphicons.min.css">
<link rel="stylesheet" href="css/style.css">
<link rel="stylesheet" href="css/skin.css">
<script src="js/breakpoints.min.js"></script>
<script src="js/angular.min.js"></script>
<script>
    Breakpoints();
  </script>
</head>
<body ng-app="profileApp">
<div class="mobile-menu">
 <nav class="menu-list-mobile">
      <a href="account-summary.html">Account Summary</a>
      <a href="express-pay.html">Express Pay</a>
      <a href="future-activity.html">Future Payment</a>
      <a href="statements-page.html">Statements</a>
      <a href="transaction-history.html">Transaction History</a>
      <a href="documents-page.html">Documents</a>
      <a class="profile-menu-click" href="#">Profile</a>
      <div class="profile-menu">
        	<ul>
            	<li><a href="#pm">Profile Management</a></li>
                <li><a href="#notiprefer">Notification Preferences</a></li>
                <li><a href="#wallet">Wallet</a></li>                                    
            </ul>
        </div>
      <a href="#">Logout</a>
  </nav>
</div>
<div class="mask_menu"></div>
<header class="container-fluid header-menu-des">
	<div class="head-design-sub">
      <div class="row">
        <div class="col-4 col-sm-4">
        	<div class="logo-text"><img src="images/logo-cg.png"></div>
        </div>
        <div class="col-8 col-sm-8">
        	<div class="responsive_icon"></div>
        </div>
      </div>
    </div>
	</header>
<div class="wrapper">
   <nav class="sidebar">
      <section class="main-menu-ac">
                        <div class="row">
                            <div class="col-md-12">
                               <div class="logo-text"><img src="images/logo-cg.png"></div>
                            </div>
                        </div>
                        <div class="menu-nav">
                            <div class="row">
                                    <div class="col-md-12 menu-details-normal">
                                       <a href="account-summary.html"><img src="images/account_summary.png">Account Summary</a>
                                    </div>
                            </div>
                            
                            <div class="row">
                                    <div class="col-md-12 menu-details-normal">
                                         <a href="express-pay.html"><img src="images/express_pay.png">Express Pay</a>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12 menu-details-normal">
                                        <a href="future-activity.html"><img src="images/Future_payment.png">Future Payment</a>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12 menu-details-normal">
                                        <a href="statements-page.html"><img src="images/statements.png">Statements</a>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12 menu-details-normal">
                                         <a href="transaction-history.html"><img src="images/transactio_history.png">Transaction History</a>
                                    </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-12 menu-details-normal">
                                        <a href="documents-page.html"><img src="images/documents.png">Documents</a>
                                    </div>
                            </div>
                            <div class="row">
                                        <div class="col-md-12 menu-details-profile">
                                           <a class="droplink dropcolor page-active"> <img src="images/profile.png">Profile</a> 
                                            <div class="profile-container " style="display:block;">
                                                <a href="#pm">Profile Management</a>
                                                <a href="#notiprefer">Notification Preferences</a>
                                                <a href="#wallet">Wallet</a>
                                            </div>
                                         </div>
                                </div>
                                <div style="clear:both;"></div>
                        </div>
                        <div class="row" style="display:contents;">
                        	<div class="logout-det">
                                <div class="col-md-12 menu-details-normal-log">
                                    <a href="#"><img src="images/logout.png">Logout</a>
                                </div>
                             </div>   
                        </div>
                </section>
	</nav>

 <div class="container-fluid content">   
  	<div id="pm" class="row rowmix">
        <div class="col-md-12 profile-head">Profile Management</div>
        <form class="row m-l-0 profile-fields">
        		<div class="col-md-12 p-l-18 p-r-8">
                	<div class="info-change">Any Information want to be changed here please call CSR</div>
                </div>
    			<div class="col-md-3 p-l-18 p-r-8">
             		<div class="profile-group-edit input-group">
                            <label for="username" class="col-form-label text-left w-full">User Name:</label>
                            <div class="prof-text-fld">johnsmith@gmail.com</div>
                        </div>
                    </div>
                    <div class="col-md-3  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="fname" class="col-form-label text-left w-full">First Name:</label>
                            <div class="prof-text-fld">John</div>
                           </div>
                    </div>
                    <div class="col-md-3  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="lname" class="col-form-label text-left w-full">Last Name:</label>
                            <div class="prof-text-fld">Smith</div>
                         </div>
                    </div>
                   
                    <div class="col-md-5  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="staddone" class="col-form-label text-left w-full">Street Address 1:</label>
                            <div class="prof-text-fld p-blk-text">Georgia State Campus,</div>
                         </div>
                    </div>
                     <div class="col-md-5  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="lname" class="col-form-label text-left w-full">Street Address 2:</label>
                            <div class="prof-text-fld p-blk-text">100 Piedmont Ave SE</div>
                        </div>
                    </div>
                    <div class="col-md-5  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="city" class="col-form-label text-left w-full">City:</label>
                            <div class="prof-text-fld p-blk-text">Atlanta</div>
                         </div>
                    </div>
                     <div class="col-md-2  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="state" class="col-form-label text-left w-full">State:</label>
                            <div class="prof-text-fld p-blk-text">GA</div>
                          </div>
                    </div>
                     <div class="col-md-2  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="zip" class="col-form-label text-left w-full">ZIP:</label>
                            <div class="prof-text-fld p-blk-text">85485</div>
                         </div>
                    </div>
                    <div class="col-md-5  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="zip" class="col-form-label text-left w-full">Email Address:</label>
                            <div class="prof-text-fld p-blk-text">johnsmith@gmail.com</div>
                           </div>
                    </div>
                     <div class="col-md-6 p-l-18 p-r-8">
                    	</div>
                    <div class="col-md-5  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="mobilephone" class="col-form-label text-left w-full">Mobile Phone #(Text notifications):</label>
                            <div class="prof-text-fld p-blk-text">(777)888-9999</div>
                          </div>
                    </div>
                    <div class="col-md-5  p-l-18 p-r-8">
                    	<div class="profile-group-edit input-group">
                            <label for="homephone" class="col-form-label text-left w-full">Home Phone #:</label>
                            <div class="prof-text-fld p-blk-text">(778)666-9999</div>
                           </div>
                    </div>
                    <div class="col-sm-12 p-l-10 p-r-8">
                        <div class="terms-cond">Please read <a>Terms &amp; Conditions.</a></div>
                        <div class="aggre-data">
                        <div class="close-butt">Terms &amp; Conditions<img src="images/TC_close.png"></div>
                        <div class="agg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Q is ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Q is ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Q is ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        <div class="aggr-bottom">
                            <div class="checkbox_doc">
                            <input type="checkbox">
                            <label>I agree to the terms &amp; conditions</label>
                            <input type="button" value="ACCEPT" class="agg-accpet">
                          </div>
                          </div>
                        <div style="clear:both;"></div>
                      </div>
                      </div>
                    <div class=" offset-10">
                    </div>
                    <div class="col-md-2 ">
                    	<div class="profile-group input-group">
                           <input type="button" value="EDIT" class="profile-save-btn" onClick="window.location='profile-edit.html';">
                        </div>
                    </div>
          	</form>
      </div>
      <div id="notiprefer" class="row rowmix p-t-30">
        	<div class="col-sm-12 profile-head profile-notwal">Notification Preferences</div>
            <form class="row m-l-0 profile-notification">
            	
        		<div class="col-8 col-sm-6 profile-notify">
                	<label for="TextNotifications" class="col-form-label notify-label w-full">Text Notifications</label><br>
                    <div class="terms-notify">(Charges may be applied. Please read <a>Terms & Conditions</a>)</div>
                </div>
               
                <div class="col-4 col-sm-6 profile-notify">
                	<div class="checkbox-switch m-t-20">
                            <input type="checkbox" checked="" name="status" class="input-checkbox" >
                            <div class="checkbox-animate">
                                <span class="checkbox-off">OFF</span>
                                <span class="checkbox-on">ON</span>
                            </div>
                    </div>
                </div>
                 <div col-12 col-sm-12>
                	<div class="aggre-notify">
                        <div class="notify-butt">Terms &amp; Conditions<img src="images/TC_close.png"></div>
                        <div class="agg-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Q is ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Q is ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. <br>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Q is ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </div>
                        <div class="aggr-bottom">
                            <div class="checkbox_doc">
                            <input type="checkbox">
                            <label>I agree to the terms &amp; conditions</label>
                            <input type="button" value="ACCEPT" class="agg-accpet">
                          </div>
                          </div>
                        <div style="clear:both;"></div>
                      </div>
                </div>
                <div class="col-8 col-sm-6 profile-notify">
                	<label class="col-form-label text-npay w-full">Payment Notifications</label>
                </div>
                <div class="col-4 col-sm-6 profile-notify">
                	<div class="checkbox-switch ">
                            <input type="checkbox" checked="" name="status" class="input-checkbox" >
                            <div class="checkbox-animate">
                                <span class="checkbox-off">OFF</span>
                                <span class="checkbox-on">ON</span>
                            </div>
                    </div>
                </div>
                 <div class="col-8 col-sm-6 profile-notify">
                	<label class="col-form-label text-npay w-full">TBO Notifications</label>
                </div>
                <div class="col-4 col-sm-6 profile-notify">
                	<div class="checkbox-switch ">
                            <input type="checkbox" checked="" name="status" class="input-checkbox" >
                            <div class="checkbox-animate">
                                <span class="checkbox-off">OFF</span>
                                <span class="checkbox-on">ON</span>
                            </div>
                    </div>
                </div>
                
                
                <div class="col-8 col-sm-6 profile-notify">
                	<label class="col-form-label notify-label w-full">Email Notifications</label><br>
                </div>
                <div class="col-4 col-sm-6 profile-notify">
                	<div class="checkbox-switch">
                            <input type="checkbox" checked="" name="status" class="input-checkbox" >
                            <div class="checkbox-animate">
                                <span class="checkbox-off">OFF</span>
                                <span class="checkbox-on">ON</span>
                            </div>
                    </div>
                </div>
                <div class="col-8 col-sm-6 profile-notify">
                	<label class="col-form-label text-npay w-full">Payment Notifications</label>
                </div>
                <div class="col-4 col-sm-6 profile-notify">
                	<div class="checkbox-switch ">
                            <input type="checkbox" checked="" name="status" class="input-checkbox" >
                            <div class="checkbox-animate">
                                <span class="checkbox-off">OFF</span>
                                <span class="checkbox-on">ON</span>
                            </div>
                    </div>
                </div>
                 <div class="col-8 col-sm-6 profile-notify">
                	<label class="col-form-label text-npay w-full">TBO Notifications</label>
                </div>
                <div class="col-4 col-sm-6 profile-notify">
                	<div class="checkbox-switch ">
                            <input type="checkbox" checked="" name="status" class="input-checkbox" >
                            <div class="checkbox-animate">
                                <span class="checkbox-off">OFF</span>
                                <span class="checkbox-on">ON</span>
                            </div>
                    </div>
                </div>
        	</form>
      </div> 
      
      <div id="wallet" class="row rowmix p-t-30">
        	<div class="col-sm-12 profile-head profile-notwal">Wallet</div>
            <form class="m-l-0 profile-wallet" name="wallet">
            	<div class="row wallet-details">
                    <div class="col-7 col-sm-6 m-t-20">
                        <div class="profile-cards"><img src="images/visa.png"></div>
                        <div class="card-details">
                            <div class="card-num">**** **** **78 1234</div>
                            <div class="card-name">John Smith</div>
                        </div>
                    </div>
                    <div class="col-5 col-sm-6 hidedelete">
                    	<div class="wallet-def"><a class="default-sel default-green" style="color:#00c37b;" href="#">DEFAULT SELECTED</a></div>
                    	<div class="wallet-list">
                        	<ul>
                                <li><a class="profile-view-v" href="">VIEW</a></li>
                                <li><a class="profile-edit-e" href="">EDIT</a></li>
                                <li><a class="text-danger profile-delete" style="display:none;" href="#">DELETE</a></li>
                            </ul>
                        </div>
                    </div>
                    
                    <div class="col-12 col-md-12 profile-edit" ng-controller="profilecontrol">
                    	<div class="row">
                                	<div class="col-md-5 cardach-group">
                                      	<label for="cdnameview" class="col-form-label">Name on Card</label>
                                      	<input type="text" class="form-control input-field-profile alphabetsonly" name="cdnameview" ng-model="cdnameview" value="John Smith" required>
									 	<span class=" msg angErrmsg" ng-show="wallet.cdnameview.$touched && wallet.cdnameview.$invalid "> Required</span> 
                                    </div>
                                	<div class="col-md-3 cardach-group">
                                      	<label for="expdateview" class="col-form-label">Expiry Date</label>
                                      	<input type="text"  class="form-control input-field-profile expiryval valid" name="expdateview" value="02/23" ng-model="expdateview" maxlength="5" minlength="5"  placeholder="MM/YY" required>
                                      	<span class=" msg angErrmsg" ng-show="(wallet.expdateview.$touched && !wallet.expdateview.$dirty && wallet.expdateview.$invalid) || (wallet.expdateview.$dirty && wallet.expdateview.$error.required)">Required</span>
									   <span class=" msg angErrmsg" id="" style="display:none;">Enter a valid Date (MM/YY). </span>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                      <label for="secvview" class="col-form-label">Secure Code</label>
                                      <input type="text" class="form-control input-field-profile numbersonly" name="secvview"  ng-model="secvview" maxlength="3" minlength="3" required>
									  <span class=" msg angErrmsg" ng-show="wallet.secvview.$touched && wallet.secvview.$invalid "> Required</span>
                                    </div>
                                    <div class="col-md-5 cardach-group">
                                      <label for="debitnumview" class="col-form-label">Card Number</label>
                                      <input type="text" class="form-control input-field-profile numbersonly" maxlength="16" minlength="12" name="debitnumview" ng-model="debitnumview" required>
									   <span class=" msg angErrmsg" ng-show="(wallet.debitnumview.$touched && !wallet.debitnumview.$dirty && wallet.debitnumview.$invalid) || (wallet.debitnumview.$dirty && wallet.debitnumview.$error.required)">Required</span>
				                      <span class=" msg angErrmsg" ng-show="wallet.debitnumview.$dirty && wallet.debitnumview.$error.minlength" >Account number should contain max 12 -16</span>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                        <label for="zipview" class="col-form-label text-left w-full">ZIP</label>
                                        <input type="text" class="form-control input-field-profile numbersonly" name="zipview" ng-model="zipview" alt="ZIP" maxlength="5" minlength="5"  placeholder="XXXXX" required="">
                                    	<span class=" msg angErrmsg" ng-show="wallet.zipview.$touched && wallet.zipview.$invalid "> Required</span>
                                     </div>
                                     <div class="offset-8"></div>
                                     <div class="col-md-2 m-t-15 sub-card">
                                            <div class="profile-group input-group">
                                            	<input type="button" value="CANCEL" class="profile-cancel-btn profile-close">
                                            </div>
                                      </div>
                                      <div class="col-md-2 m-t-15 sub-card">
                                        <div class="profile-group input-group">
                                        	<input type="submit" value="SAVE" class="profile-save-btn">
                                      	</div>
                                      </div>
                                </div>
                    </div>
                    
                    <div class="col-12 col-md-12 profile-view">
                    	<div class="row">
                                	<div class="col-md-5 cardach-group">
                                      	<label for="cdnameview" class="col-form-label">Name on Card</label>
                                      	<div class="prof-text-fld">John Smith</div>
                                    </div>
                                	<div class="col-md-3 cardach-group">
                                      	<label for="expdateview" class="col-form-label">Expiry Date</label>
                                      	<div class="prof-text-fld">03/24</div>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                      <label for="secvview" class="col-form-label">Secure Code</label>
                                      <div class="prof-text-fld">321</div>
                                    </div>
                                    <div class="col-md-5 cardach-group">
                                      <label for="debitnumview" class="col-form-label">Card Number</label>
                                      <div class="prof-text-fld">****** *** **1234</div>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                        <label for="zipview" class="col-form-label text-left w-full">ZIP</label>
                                        <div class="prof-text-fld">12345</div>
                                     </div>
                                     <div class="offset-8"></div>
                                     <div class="col-md-2 m-t-15 sub-card">
                                            <div class="profile-group input-group">
                                            	<input type="button" value="CLOSE" class="profile-cancel-btn profile-close">
                                            </div>
                                      </div>
                                      <div class="col-md-2 m-t-15 sub-card">
                                        <div class="profile-group input-group">
                                        	<input type="submit" value="EDIT" class="profile-save-btn profile-edit-but">
                                      	</div>
                                      </div>
                                </div>
                    </div>
                </div>
                <div class="row wallet-details">
                    <div class="col-7 col-sm-6 m-t-20">
                        <div class="profile-cards"><img src="images/master.png"></div>
                        <div class="card-details">
                            <div class="card-num">**** **** **78 1234</div>
                            <div class="card-name">John Smith</div>
                        </div>
                    </div>
                    <div class="col-5 col-sm-6 hidedelete">
                    	<div class="wallet-def"><a class="default-sel default-blue" href="#">SET AS DEFAULT</a></div>
                    	<div class="wallet-list">
                        	<ul>
                                <li><a class="profile-view-v" href="">VIEW</a></li>
                                <li><a class="profile-edit-e" href="">EDIT</a></li>
                                <li><a class="text-danger profile-delete" href="#">DELETE</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 profile-edit" ng-controller="profilecontrol">
                    	<div class="row">
                                	<div class="col-md-5 cardach-group">
                                      	<label for="cdnameview" class="col-form-label">Name on Card</label>
                                      	<input type="text" class="form-control input-field-profile alphabetsonly" name="cdnameview" ng-model="cdnameview" value="John Smith" required>
									 	<span class=" msg angErrmsg" ng-show="wallet.cdnameview.$touched && wallet.cdnameview.$invalid "> Required</span> 
                                    </div>
                                	<div class="col-md-3 cardach-group">
                                      	<label for="expdateview" class="col-form-label">Expiry Date</label>
                                      	<input type="text"  class="form-control input-field-profile expiryval valid" name="expdateview" value="02/23" ng-model="expdateview" maxlength="5" minlength="5"  placeholder="MM/YY" required>
                                      	<span class=" msg angErrmsg" ng-show="(wallet.expdateview.$touched && !wallet.expdateview.$dirty && wallet.expdateview.$invalid) || (wallet.expdateview.$dirty && wallet.expdateview.$error.required)">Required</span>
									   <span class=" msg angErrmsg" id="" style="display: none;">Enter a valid Date (MM/YY). </span>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                      <label for="secvview" class="col-form-label">Secure Code</label>
                                      <input type="text" class="form-control input-field-profile numbersonly" name="secvview"  ng-model="secvview" maxlength="3" minlength="3" required>
									  <span class=" msg angErrmsg" ng-show="wallet.secvview.$touched && wallet.secvview.$invalid "> Required</span>
                                    </div>
                                    <div class="col-md-5 cardach-group">
                                      <label for="debitnumview" class="col-form-label">Card Number</label>
                                      <input type="text" class="form-control input-field-profile numbersonly" maxlength="16" minlength="12" name="debitnumview" ng-model="debitnumview" required>
									   <span class="msg angErrmsg" ng-show="(wallet.debitnumview.$touched && !wallet.debitnumview.$dirty && wallet.debitnumview.$invalid) || (wallet.debitnumview.$dirty && wallet.debitnumview.$error.required)">Required</span>
				                      <span class="msg angErrmsg" ng-show="wallet.debitnumview.$dirty && wallet.debitnumview.$error.minlength" >Account number should contain max 12 -16</span>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                        <label for="zipview" class="col-form-label text-left w-full">ZIP</label>
                                        <input type="text" class="form-control input-field-profile numbersonly" name="zipview" ng-model="zipview" alt="ZIP" maxlength="5" minlength="5"  placeholder="XXXXX" required="">
                                    	<span class=" msg angErrmsg" ng-show="wallet.zipview.$touched && wallet.zipview.$invalid "> Required</span>
                                     </div>
                                     <div class="offset-8"></div>
                                     <div class="col-md-2 m-t-15 sub-card">
                                            <div class="profile-group input-group">
                                            	<input type="button" value="CANCEL" class="profile-cancel-btn profile-close">
                                            </div>
                                      </div>
                                      <div class="col-md-2 m-t-15 sub-card">
                                        <div class="profile-group input-group">
                                        	<input type="submit" value="SAVE" class="profile-save-btn">
                                      	</div>
                                      </div>
                                </div>
                    </div>
                    
                    <div class="col-12 col-md-12 profile-view">
                    	<div class="row">
                                	<div class="col-md-5 cardach-group">
                                      	<label for="cdnameview" class="col-form-label">Name on Card</label>
                                      	<div class="prof-text-fld">John Smith</div>
                                    </div>
                                	<div class="col-md-3 cardach-group">
                                      	<label for="expdateview" class="col-form-label">Expiry Date</label>
                                      	<div class="prof-text-fld">03/24</div>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                      <label for="secvview" class="col-form-label">Secure Code</label>
                                      <div class="prof-text-fld">321</div>
                                    </div>
                                    <div class="col-md-5 cardach-group">
                                      <label for="debitnumview" class="col-form-label">Card Number</label>
                                      <div class="prof-text-fld">****** *** **1234</div>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                        <label for="zipview" class="col-form-label text-left w-full">ZIP</label>
                                        <div class="prof-text-fld">12345</div>
                                     </div>
                                     <div class="offset-8"></div>
                                     <div class="col-md-2 m-t-15 sub-card">
                                            <div class="profile-group input-group">
                                            	<input type="button" value="CLOSE" class="profile-cancel-btn profile-close">
                                            </div>
                                      </div>
                                      <div class="col-md-2 m-t-15 sub-card">
                                        <div class="profile-group input-group">
                                        	<input type="submit" value="EDIT" class="profile-save-btn profile-edit-but">
                                      	</div>
                                      </div>
                                </div>
                    </div>
                    
                    
                </div>
                <div class="row wallet-details"  ng-controller="profilecontrol" style="border-bottom:none;">
                    <div class="col-12 col-md-12 m-t-20">
                    	<div class="add-paynew">
                        	<input type="button" class="add-pay-butt" VALUE="ADD NEW">
                            <span class="glyphicon gly-pay-but glyphicon-plus"></span>
                        </div>
                        <div class="card-payment">
                        	<div class="col-sm-3  p-l-10 p-r-8">
                                    <div class="profile-group input-group">
                                    <select id="card-payment" class="form-control input-field-profile cardpay-select" name="cardpayment" required="">
                                        <option value="20">ACH</option>
                                        <option value="28">CARD</option>
                                      </select>
                                  </div>
                            </div>
                            <div id="cardmenu" class="col-sm-12 p-l-10 p-r-8" style="display:none;" >
                            	<div class="credits-img">
                                	<img src="images/visa.png">
                                    <img src="images/master.png">
                                </div>
                                <div class="row">
                                	<div class="col-md-5 cardach-group">
                                      	<label for="cdname" class="col-form-label">Name on Card</label>
                                      	<input type="text" class="form-control input-field-profile alphabetsonly" name="cdname" ng-model="cdname" required>
									 	<span class=" msg angErrmsg" ng-show="wallet.cdname.$touched && wallet.cdname.$invalid "> Required</span> 
                                    </div>
                                	<div class="col-md-3 cardach-group">
                                      	<label for="expdate" class="col-form-label">Expiry Date</label>
                                      	<input type="text"  class="form-control input-field-profile expiryval valid" name="expdate" ng-model="expdate" maxlength="5" minlength="5" placeholder="MM/YY" required>
                                      	<span class=" msg angErrmsg" ng-show="(wallet.expdate.$touched && !wallet.expdate.$dirty && wallet.expdate.$invalid) ">Required</span>
									   <span class=" msg angErrmsg" id="dateErr" ng-show="  wallet.expdate.$invalid" style="display: none;">Enter a valid Date (MM/YY). </span>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                      <label for="secvv" class="col-form-label">Secure Code</label>
                                      <input type="text" class="form-control input-field-profile numbersonly" name="secvv"  ng-model="secvv" maxlength="3" minlength="3" required>
									  <span class=" msg angErrmsg" ng-show="wallet.secvv.$touched && wallet.secvv.$invalid "> Required</span>
                                    </div>
                                    <div class="col-md-5 cardach-group">
                                      <label for="debitnum" class="col-form-label">Card Number</label>
                                      <input type="text" class="form-control input-field-profile numbersonly" maxlength="16" minlength="12" name="debitnum" ng-model="debitnum" required>
									   <span class=" msg angErrmsg" ng-show="(wallet.debitnum.$touched && !wallet.debitnum.$dirty && wallet.debitnum.$invalid) || (wallet.debitnum.$dirty && wallet.debitnum.$error.required)">Required</span>
				                      <span class=" msg angErrmsg" ng-show="wallet.debitnum.$dirty && wallet.debitnum.$error.minlength" >Account number should contain max 12 -16</span>
                                    </div>
                                    <div class="col-md-3 cardach-group">
                                        <label for="zip" class="col-form-label text-left w-full">ZIP</label>
                                        <input type="text" class="form-control input-field-profile numbersonly" name="zip" ng-model="zip" alt="ZIP" maxlength="5" placeholder="XXXXX" required="">
                                    	<span class=" msg angErrmsg" ng-show="wallet.zip.$touched && wallet.zip.$invalid "> Required</span>
                                     </div>
                                     <div class="offset-8"></div>
                                     <div class="col-md-2 m-t-15 sub-card">
                                            <div class="profile-group input-group">
                                            	<input type="button" value="CANCEL" class="profile-cancel-btn">
                                            </div>
                                      </div>
                                      <div class="col-md-2 m-t-15 sub-card">
                                        <div class="profile-group input-group">
                                        	<input type="submit" value="SAVE" class="profile-save-btn">
                                      	</div>
                                      </div>
                                </div>
                            </div>
                            <div id="achmenu" class="col-sm-12 p-l-10 p-r-8">
                           		<div class="credits-img">
                                	<img src="images/ach.png">
                                </div>
                                <div class="row">
                                	<div class="col-md-12 m-t-15">Personal Checking Account</div>
                                	<div class="col-md-5 cardach-group">
                                      	<label for="checkname" class="col-form-label">Name of the Check</label>
                                      	<input type="text" class="form-control input-field-profile alphabetsonly" name="checkname"  ng-model="checkname" required>
									   	<span class=" msg angErrmsg" ng-show="wallet.checkname.$touched && wallet.checkname.$invalid "> Required</span>
                                    </div>
                                    <div class="col-md-5 cardach-group">
                                      	<label for="routingnum" class="col-form-label">Routing Number</label>
                                      	<input type="text" class="form-control input-field-profile numbersonly" maxlength="12" minlength="12" name="routingnum" ng-model="routingnum"  required>
                                        <span class=" msg angErrmsg" ng-show="(wallet.routingnum.$touched && !wallet.routingnum.$dirty && wallet.routingnum.$invalid) || (wallet.routingnum.$dirty && wallet.routingnum.$error.required)">Required</span>
				                      	<span class=" msg angErrmsg" ng-show="wallet.routingnum.$dirty && wallet.routingnum.$error.minlength" >Routing number must contain minimum 12 digits</span>
                                    </div>
                                    <div class="col-md-5 cardach-group">
                                      	<label for="accountnum" class="col-form-label">Account Number</label>
                                      	<input type="text" class="form-control input-field-profile numbersonly" maxlength="16" minlength="12" name="accountnum" ng-model="accountnum" required>
                                        <span class=" msg angErrmsg" ng-show="(wallet.accountnum.$touched && !wallet.accountnum.$dirty && wallet.accountnum.$invalid) || (wallet.accountnum.$dirty && wallet.accountnum.$error.required)">Required</span>
				                      	<span class=" msg angErrmsg" ng-show="wallet.accountnum.$dirty && wallet.accountnum.$error.minlength" >Account number must contain minimum 12 digits</span>
                                    </div>
                                    <div class="col-md-5 cardach-group">
                                      	<label for="reaccountnum" class="col-form-label">Re-enter Account Number</label>
                                      	<input type="text" class="form-control input-field-profile numbersonly" name="reaccountnum" compare-to="accountnum" ng-model="reaccountnum" required>
									  	<span class=" msg angErrmsg" ng-show="wallet.reaccountnum.$touched && wallet.reaccountnum.$invalid && !wallet.reaccountnum.$dirty">Required</span>
                                     	<span class="msg angErrmsg" ng-show="wallet.reaccountnum.$dirty && wallet.reaccountnum.$error.compareTo">Account Number should be match above. </span> 
                                    </div>
                                    <div class=" offset-8"></div>
                                     <div class="col-md-2 m-t-15 sub-card">
                                            <div class="profile-group input-group">
                                            	<input type="button" value="CANCEL" class="profile-cancel-btn">
                                            </div>
                                      </div>
                                      <div class="col-md-2 m-t-15 sub-card">
                                        <div class="profile-group input-group">
                                        	<input type="submit" value="SAVE" class="profile-save-btn">
                                      	</div>
                                      </div>
                                 </div>   
                            </div>
                        </div>
                    </div>
                </div>
        	</form>
      </div> 	   
 	</div>
 </div>

<script src='js/jquery-3.3.1.slim.min.js'></script>
<script src='js/bootstrap.min.js'></script>
<script src='js/custom.js'></script>
<script>
var App = angular.module("profileApp", []); 
  App.controller("profilecontrol", function ($scope)  
  {  
      $scope.student = {  
          accountnum: "",  
         reaccountnum: ""  
      };  
	
  });  
  App.directive("compareTo", function ()  
  {  
      return {  
          require: "ngModel",  
          scope:  
          {  
              reaccountnum: "=compareTo"  
          },  
          link: function (scope, element, attributes, paramval)  
          {  
              paramval.$validators.compareTo = function (val)  
              {  
                  return val == scope.reaccountnum;  
              };  
              scope.$watch("reaccountnum", function ()  
              {  
                  paramval.$validate();  
              });  
          }  
      };  
  }); 
</script>
</body>
</html>
